{% extends "common/base_sidebar.html" %}
{% load static %}
{% block page_content %}

<div class="card">
  <div class="card-header">
    <div class="header-title h3 pl-4"><span class="text-primary-rainbow">Create Blog</span> &nbsp;&nbsp;</div>
  </div>
  <div class="card-body">
    <form id="topic-form">
      {% csrf_token %}
      <div class="mb-3">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="in_depth_checkbox" name="in_depth_checkbox" autocomplete="off">
          <label class="btn btn-outline-primary" for="in_depth_checkbox">In-depth Blog</label>
        
          <input type="checkbox" class="btn-check" id="seo_checkbox" name="seo_checkbox" autocomplete="off">
          <label class="btn btn-outline-primary" for="seo_checkbox">SEO</label>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" id="theme" name="theme" data-bs-toggle="dropdown" aria-expanded="false">
              Theme
            </button>
            <input type="hidden" id="selectedtheme" name="selectedtheme" value="">
            <ul class="dropdown-menu">
              {% for value, label in form.fields.theme.choices %}
              
              <li><a class="dropdown-item" href="#" onclick="selectOption('{{ label }}', '{{ value }}')">{{label}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="mt-4"></div> <!-- Add spacing here -->
        <input id="topic" name="topic" class="form-control me-2 border-primary" type="text" placeholder="What's on your mind?">
        <div class="mt-4"></div> <!-- Add spacing here -->
        <button type="submit" class="btn btn-primary form-control">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="card" id="response-header" style="display: none;">
  <div class="card-header">
    <div class="header-title h3 pl-4"><span class="text-primary-rainbow">Digital Workers on task</span> &nbsp;&nbsp;
    </div>
  </div>
  <div class="card-body">
    <div class="row align-items-stretch">
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/searcher.png' %}" class="avatar-img rounded-circle"
                    alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1 text-truncate">Researcher</h4>
                <span class='tiny'>Primary responsible to research online and gether content</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/creater.png'%}" class="avatar-img rounded-circle" alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Content Craftsman</h4>
                <span class='tiny'>Primary responsible to curating and crafting engaging content</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/editor.png' %}" class="avatar-img rounded-circle" alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Editor</h4>
                <span class='tiny'>Primary responsible to ensuring quality and accuracy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/artist.png' %}" class="avatar-img rounded-circle" alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Art Illustrator</h4>
                <span class='tiny'>Primary responsible to design visual content for Blogs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/publisher.png' %}" class="avatar-img rounded-circle"
                    alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Publisher</h4>
                <span class='tiny'>Primary responsible to oversee the final steps of content distribution</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/social-avatar.png' %}" class="avatar-img rounded-circle"
                    alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Influencer</h4>
                <span class='tiny'>Primary responsible to engaging social media content</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" id="response-body" style="display: none;">
  <div class="card-header">
    <div class="header-title h3 pl-4"><span class="text-primary-rainbow spinner-grow-sm" id="loading-btn-header">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </span> &nbsp;&nbsp;</div>
  </div>
  <div class="card-body" id="msg"></div>
  <div class="card-footer">
    <div class="header-title h3 pl-4"><span class="text-primary-rainbow spinner-grow-sm" id="loading-btn-footer">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </span> &nbsp;&nbsp;</div>
  </div>

</div>


{% endblock %}

{% block scripts %}
<script>
function selectOption(key,value) {
  document.getElementById('theme').classList.remove('btn-outline-primary');
  document.getElementById('theme').classList.add('btn-primary');
  document.getElementById('theme').innerText = key;
  document.getElementById('selectedtheme').innerText = value;

  
}
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + "=")) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  $(document).on('submit', '#topic-form', function (e) {
    e.preventDefault();
    $('#msg').empty();
    $('#response-header').hide();
    $('#response-body').hide();

    topic = $('#topic').val();
    var theme = $('#selectedtheme').text()  
    console.log('theme', theme);    
    if (topic === null || topic === '') {return;}
    if (theme === null || theme === '') {
      theme = 'descriptive';
    }
    $('#submit-button').hide();
    $.ajax({
      type: 'POST',
      url: "{% url 'create' %}",
      data: {
        topic: $('#topic').val(),
        in_depth_checkbox: $('#in_depth_checkbox').val(),
        seo_checkbox: $('#seo_checkbox').val(),
        theme: theme,
        csrfmidddlewaretoken: $('input[name=csrfmidddlewaretoken]').val()
      },
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": getCookie("csrftoken"),
      },
      success: function (response) {
        $('#topic').val('');
        $('#checkbox1').prop('checked', false);
        $('#checkbox2').prop('checked', false);
        $('#theme').val('Theme');

        answer = response.message;
        console.log('response', response.id, response.message);
        let publisher_url = `ws://${window.location.host}/ws/create/`;
        const socket = new WebSocket(publisher_url);
        socket.onopen = function (event) {
          console.log('WebSocket connection established.');
          socket.send(JSON.stringify({
            'command': 'subscribe',
            'channel': response.id
          }));
        };
        $('#response-header').show();
        $('#response-body').show();
        // When a message is received from the server
        socket.onmessage = function (event) {
          const message = JSON.parse(event.data);
          console.log('Message received:', message.message.profile);
          profile = message.message.profile.profile;
          task = message.message.profile.task;
          data = message.message.message;
          url = message.message.profile.url;
          if (data == 'DONE') {
            $('#loading-btn-header').empty();
            $('#loading-btn-footer').empty();
          }else{
          $('#msg').append(`
              <div class="row align-items-center">
                  <div class="card">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-xl-1 col-lg-2">
                          <a class="avatar avatar-lg">
                            <img src="{% static '.' %}`+ url + `" class="avatar-img rounded-circle"
                              alt="Avatar Image">
                          </a>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                          <h4 class="mb-1">`+ profile + `</h4>
                          <p class="small text-body-secondary mb-1">`+ task + `</p>
                        </div>
                        <div class="col-xl-9 col-lg-8">
                          <p class="small text-body-secondary mb-1">`+ data + `</p>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>`);


        }};

      },
      error: function (err) {
        console.log('error', err);
      }
    })
  })



</script>
{% endblock %}