{% extends "common/base_sidebar.html" %}
{% load static %}
{% block page_content %}
<div class="card">
  <div class="card-header">
    <div class="header-title h3 pl-4"><span class="text-primary-rainbow">My Articles</span> &nbsp;&nbsp;</div>
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 align-items-stretch">
      {% for blog in blogs %}
      <div class="col mb-4">
          <div class="card card-fill">
            <a href="{% url 'retrieve_by_id' id=blog.id %}" target="_blank">
              <div style="position: relative;">
                <img class="card-img-top" src="{% static blog.imgurl %}">
                <div class="dropdown dropend" style="position: absolute; top: 0; right: 0; color: white; background-color: rgba(0, 0, 0, 0); padding: 5px;">
                  <a class="bi bi-three-dots-vertical" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  </a>
                
                  <ul class="dropdown-menu" style="min-width: auto !important;">
                    <li><a class="dropdown-item" href="{% url 'retrieve_by_id' id=blog.id %}" target="_blank">View</a></li>
                    <li><a class="dropdown-item" href="{% url 'delete_by_id' id=blog.id %}">Delete</a></li>

                  </ul>
                </div>
              </div>
            </a>
            <div class="card-body shadow-sm">
              <div class="row p-1">
                <div class="col">
                  <span class="tiny text-body-secondary"><i class="bi bi-clock"></i> {{ blog.ts }}</span>
                  <p style="line-height: .60rem;">
                    <h4 class="mb-2">{{ blog.topic }}</h4>
                  </p>
                </div>
                <div class="col-auto mt-4">
                  <a href="{% url 'retrieve_entries_by_id' id=blog.id %}" style="text-align: right;"><i class="bi bi-twitter avatar"></i> </a>

                </div>
              </div>
            </div>
          </div>
        
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% block scripts %}
{% endblock %}
{% endblock %}