{% extends "common/base_sidebar.html" %}
{% load static %}
{% block page_content %}
<div class="card">
  <div class="card-header">
    <div class="header-title h3 pl-4"><span class="text-primary-rainbow">My Blogs</span> &nbsp;&nbsp;</div>
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 align-items-stretch">
      {% for blog in blogs %}
      <div class="col mb-4">
        <a href="{% url 'retrieve_by_id' id=blog.id %}" target="_blank">
          <div class="card card-fill">
            <img class="card-img-top" src="{% static blog.imgurl %}"></img>
            <div class="card-body shadow-sm">
                <div class="row p-1">
              
                  <div class="col" style="line-height: .67rem;">
                    <span class="tiny"><i class="bi bi-clock"></i> {{ blog.ts }}</span>
                    <p><h4 class="mb-2 text-primary-rainbow">{{ blog.topic }}</h4></p>                
                  </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% block scripts %} 
{% endblock %}
{% endblock %}