{% extends "common/base_sidebar.html" %}
{% load static %}
{% block page_content %}

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <p>Ready to bring your next video post idea to life? </p>
        <p>Introducing our AGI Crew—your all-in-one solution from conception to publication and beyond. </p>
        <p>Seamlessly navigate from online research to content creation, thorough review, strategic publication, and engaging social campaigns with ease.</p>
      </div>
    </div>

  </div>
  <div class="card-body">
    
    <p class="text-primary-rainbow h3">Dream Team to Crafting Captivating Video Posts</p>

    <div class="row align-items-stretch pt-4">
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/searcher.png' %}" class="avatar-img rounded-circle"
                    alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1 text-truncate">Web Research Consultant</h4>
                <span class='tiny'>Primary responsible to research online and gether content</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/creater.png'%}" class="avatar-img rounded-circle" alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Content Craftsman</h4>
                <span class='tiny'>Primary responsible to curating and crafting engaging content</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/editor.png' %}" class="avatar-img rounded-circle" alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Video Illustrator</h4>
                <span class='tiny'>Primary responsible to ensuring quality and accuracy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/artist.png' %}" class="avatar-img rounded-circle" alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Art Illustrator</h4>
                <span class='tiny'>Primary responsible to design visual content for Articles</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/publisher.png' %}" class="avatar-img rounded-circle"
                    alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Publisher</h4>
                <span class='tiny'>Primary responsible to oversee the final steps of content distribution</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 mb-3">
        <div class="card card-fill shadow-sm">
          <div class="card-body px-2">
            <div class="row align-items-center">
              <div class="col-auto pr-1">
                <a class="avatar avatar-lg">
                  <img src="{% static 'assets/img/social-avatar.png' %}" class="avatar-img rounded-circle"
                    alt="Avatar Image">
                </a>
              </div>
              <div class="col px-2">
                <h4 class="mb-1">Social Influencer</h4>
                <span class='tiny'>Primary responsible to engaging social media content</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}

{% endblock %}